<form [ngFormModel]="form" (ngSubmit)="onPassword()">
    <div class="form-group">
        <label for="current">Current Password</label>
        <input id="current"  
               type="password"  
               class="form-control"
               ngControl="current"
               #current="ngForm"
               >
        <div *ngIf="current.touched && current.errors"> 
            <div  class="alert alert-danger" 
                *ngIf="current.errors.required" >
                Current Password is required
            </div>
            <div  class="alert alert-danger" 
                *ngIf="current.errors.minlength" >
                Password must be 5 charecter
            </div>
        </div>
        
    </div>

    <div class="form-group">
        <label for="new">New Password</label>
        <input ngControl="new" 
                #new="ngForm" 
                type="password" 
                name="new" 
                class="form-control" 
                required
                minlength="5">
        <div  class="alert alert-danger" *ngIf="new.touched && !new.valid" >
            New Password is required
        </div>
     </div>

        <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input ngControl="confirm" 
                    #confirm="ngForm" 
                    type="password" 
                    name="confirm" 
                    class="form-control" 
                    required
                    minlength="5"
                    >
            <div  class="alert alert-danger" *ngIf="confirm.touched && !confirm.valid">
                Confirm Password is required
            </div>
        </div>
    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Save</button>
</form>